/*---------Globals---------*/

/*Links*/
a,
a:focus,
a:hover {
  color: #fff;
}
a,
a:visited
a:active {
  color:white;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  background-color: #fff;
  border: .05rem solid #fff;
}


/*Base structure*/

html,
body {
  height: 100%;
  background-color:   #23272a;
  font-size: 1rem;
  scroll-behavior: smooth;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: .5rem;
  }
}

body {
  display: flexbox;
  display: flex;
  color: #fff;
}

.main-container {
  max-width: 49em;
}


/*Header*/
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: white;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover{
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-masthead .nav-link:focus {
  border-bottom-color: #00F260;
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom-color: #00F260;

}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*Footer*/
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


/*---------Main text - Homepage---------*/
.cover {
  padding: 0 1 0.5rem;
  margin-top: 1rem;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
.btn-adj {
  padding: .60rem 1.25rem;
  font-weight: 700;
  text-shadow: 0 .01rem .01rem rgba(0, 0, 0, .5);
}

.btn-adj-2 {
  padding: .6rem 1.25rem;
  font-weight: 700;
  font-size: .85rem;
  text-shadow: 0 .01rem .01rem rgba(0, 0, 0, .5);
}


/*---------Main text - Skills page---------*/

.mainskillsbox{
  height: 240px
}

.skillscontainer {
  height: 90px;
  margin-top:15px;
  margin-bottom: 20px;
}

#skillsinput > div{
  border-radius: 25px;
  text-align: center;
  width: 90px;
  margin: 5px;
  float:left;
  background: white;
  color:black;
  font-weight: 700;
  text-shadow: none;
}



/*---------Main text - Project page---------*/
.tagscontainer{ /*Skills container*/
  display: flex;
  flex-wrap: wrap;
}

.tagscontainer > div{
  width: 90px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  background: white;
  color:black;
  font-weight: 700;
  text-shadow: none;
}

#bannerpop { /*This allows the item span to disappear*/
  visibility: hidden;
}

/*---------Main text - Contact page---------*/

#resultlocation{
  display:none;
}

/*---------Main text - Documentation page---------*/

.infocontainer{
  overflow-y: scroll;
  height: 400px
}

/*---------Button that scrolls to the top---------*/
#to-the-top{
  position:fixed;
  bottom:40px;
  right:40px;
  z-index:99;
  cursor:pointer;
  text-shadow: none;
  visibility: hidden;

}
